<!-- ==========================================
     CHARZEE HEADER
========================================== -->

<header class="header">

    <nav class="navbar navbar-expand-lg custom-navbar">

        <div class="container">

            <!-- Logo -->

            <a class="navbar-brand" href="index.html">

                <img src="assets/images/logo.png"
                     alt="Charzee EV Solutions">

            </a>

            <!-- Mobile Toggle -->

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar">

                <span class="navbar-toggler-icon"></span>

            </button>

            <!-- Navigation -->

            <div class="collapse navbar-collapse"
                 id="navbar">

                <ul class="navbar-nav mx-auto">

                    <!-- Home -->

                    <li class="nav-item">

                        <a class="nav-link active"
                           href="index.html">

                            Home

                        </a>

                    </li>

                    <!-- About -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="about.html">

                            About

                        </a>

                    </li>

                    <!-- Mega Menu -->

                    <li class="nav-item dropdown position-static">

                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown">

                            Products

                        </a>

                        <div class="dropdown-menu mega-menu">

                            <div class="container">

                                <div class="row">

                                    <!-- Column 1 -->

                                    <div class="col-lg-3">

                                        <h6 class="mega-title">

                                            EV Chargers

                                        </h6>

                                        <a href="/components/home/product/ac-ev-chargers.html">

                                            AC Chargers

                                        </a>

                                        <a href="/components/home/product/dc-fast-chargers.html">

                                            DC Fast Chargers

                                        </a>

                                        <a href="portable-charger.html">

                                            Portable Chargers

                                        </a>

                                    </div>

                                    <!-- Column 2 -->

                                    <div class="col-lg-3">

                                        <h6 class="mega-title">

                                            Solar

                                        </h6>

                                        <a href="solar-products.html">

                                            Solar Products

                                        </a>

                                        <a href="solar-projects.html">

                                            Solar Projects

                                        </a>

                                    </div>

                                    <!-- Column 3 -->

                                    <div class="col-lg-3">

                                        <h6 class="mega-title">

                                            Software

                                        </h6>

                                        <a href="cms.html">

                                            CMS

                                        </a>

                                        <a href="mobile-application.html">

                                            Mobile App

                                        </a>

                                        <a href="industrial-design-solutions.html">

                                            Industrial Design

                                        </a>

                                    </div>

                                    <!-- Banner -->

                                    <div class="col-lg-3">

                                        <img src="assets/images/menu-banner.jpg"
                                             class="img-fluid rounded-4"
                                             alt="Charzee">

                                    </div>

                                </div>

                            </div>

                        </div>

                    </li>

                    <!-- Services -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="services.html">

                            Services

                        </a>

                    </li>

                    <!-- Projects -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="projects.html">

                            Projects

                        </a>

                    </li>

                    <!-- Contact -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="contact.html">

                            Contact

                        </a>

                    </li>

                </ul>

                <!-- Right Button -->

                <a href="contact.html"
                   class="btn btn-primary">

                    Get Quote

                </a>

            </div>

        </div>

    </nav>

</header>